* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    display: flex;
    background-image: url(../assets/logo.png);
    max-height: 100%;
    max-width: 100%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 44, 97);
    border-style: outset;
    border-color: white;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(245, 245, 245);
    text-shadow: 2px 2px rgb(48, 48, 48);
    margin: 15px;
    padding: 3px;
    padding: 7px;
}

button:hover {
    border-style: inset;
    color: rgb(55, 80, 165);
    color: white;
    background-color: rgb(39, 57, 117);
}

.center-container {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight:600;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(rgb(21, 31, 67), rgb(66, 104, 216));
}

h1 {
    color: rgb(202, 233, 252);
}

.button-container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 20px;
}

li a {
    display: flex;
    color: white;
    border-style: outset;
    border-radius: 5px;
    border-width: 2px;
    background-color: rgb(28, 44, 97);
    text-shadow: 5px 5px 5px rgb(27, 27, 27);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin: 10px;
    flex-wrap: wrap;
    display: inline;
    float: right;
}

li a:hover {
    border-style: inset;
    color: rgb(55, 80, 165);
    color: white;
    background-color: rgb(39, 57, 117);
}